/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
}

.blog-header-logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #f9f9f9;
  text-align: center;
  background-color: #727272;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer a{
  text-decoration: none;
  color:#ffc107;
}

.blog-footer a:hover{
  color:#ffc107;
}


/* NAV SECTION*/
nav{
  background-color: #ffc107;
  padding-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

nav a{
  font-size: 1.2rem;
  text-decoration: none;
  color:#fff;
}

nav a:hover{
  color:#fff;
}

/* MAIN SECTION */

.banner{
  background-image:url(/img/banner.png);
  background-repeat:initial;
}

.banner-text{
  background-color: rgba(0, 0, 0, 0.5);
  padding:12px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

/* INDUSTRY SECTION */

.industry{
  background-color: #ffc107;
  color: #fff;
}

.industry img{
  border-radius: 120px;
}

/* ABOUT US SECTION */
.about-cards a{
  text-decoration:none;
  color:#00b2ff
}

/* FOOTER SECTION */
footer{
  background-color:black;
}