/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
}

.blog-header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/* ===========PAGE CONTAINER=========== */
.page-container{
  position: relative;
  min-height: 100vh;
}


/* ==============HEADER SECTION=========== */

.contact-icon a{
  text-decoration: none;
  color: #727272;
}

/* NAV SECTION*/
nav{
  background-color: #ffc107;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

nav a{
  font-size: 1.2rem;
  text-decoration: none;
  color:#fff;
}

nav a:hover{
  color:#fff;
}

/* CONTENT WRAP */

.content-wrap{
  padding-bottom: 10rem;
}

/* MAIN SECTION */

.banner{
  background-image:url(/img/banner.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

.banner-text{
  background-color: rgba(0, 0, 0, 0.5);
  padding:12px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

/* INDUSTRY SECTION */

.industry{
  background-color: #ffc107;
  color: #fff;
}

.industry img{
  border-radius: 120px;
}

/* ABOUT SECTION */

.about .card{
  height:300px;
}

.mission{
  background-color: #ffc107;
  color:#fff;
}

/* JOBS PAGE */

/*============= JOBS POPUP =============*/

.job-list li:hover{
  transition: 200ms ease-in-out;
  background-color:whitesmoke;
}

.popup .overlay{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display:none;
}

.popup .content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width:80%;
  height: 80%;
  z-index:2;
  text-align:center;
  padding: 20px 30px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.popup.active overlay{
  display: block;
}

.popup.active .content{
  transition: all 800ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#ffc107;
  font-size:25px;
  font-weight:600;
  line-height: 30px;
  text-align:center;
  border-radius: 50%;
}

.content ul, h6{
  text-align: left;
}

.content li{
  padding-top: 10px;
}

/* ==================APPLICATION FORM====================== */

.application-form{
  box-sizing: border-box;
  /* border: 1px solid #ffc107; */
  width: 25%;
  padding: 2.5rem;
  box-shadow: 20px 20px 20px #e5e5e5;

}

.application-form input,select, textarea{
  padding:10px;
  margin:10px;
  border:0;
}

.application-form input, textarea{
  border-bottom: 1px solid #ffc107;
}


/*=============POPUP STYLING=============*/
.popup h6{
  text-decoration: underline;
}

/*=============FOOTER=============*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  color: #f9f9f9;
  text-align: center;
  background-color: #727272;

}

footer p{
  padding-top: 15px;
}

footer a{
  text-decoration: none;
  color:#ffc107;
}

footer a:hover{
  color:#ffc107;
}

footer img{
  width:15%;
  height: auto;
}